.row {
    margin-left: 20px;
}

.row__poster {
    object-fit: contain;
    width: 100%;
    max-height: 200px;
    transition: transform 450ms;
    scroll: none;
}

.row__posters {
    display: flex;
    gap: 10px;    
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__poster:hover {
    transform: scale(1.08);
    opacity: 1;
}

.row__posters::-webkit-scrollbar{
    display: none;
}

